<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../partial/index.css">
    <title>Gold GYM</title>
</head>

<body>
    <div class="background">
        <div class="navbar-div">
            <nav class="navbar">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">&#9776;</label>
                <label for="#" class="logo"><a href="index" class="goldgym">Gold Gym</a></label>
                <ul class="nav-ul">
                    <li><a href="index-admin" class="active">Home</a></li>
                    <li><a href="classes-admin">Classes</a></li>
                    <li><a href="personal-trainers-admin">Personal Workouts</a></li>
                    <li><a href="prices-admin">Prices and Plans</a></li>
                    <li><a href="schedule-admin">Schedule</a></li>
                    <li><a href="learners-admin">Learners</a></li>
                    <li><a href="logout">Log Out</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-img">
            <h1>IT’S ALL ABOUT WHAT YOU CAN ACHIEVE</h1>
            <p id="sub-line">Empower yourself to make the changes you need to make.</p>
            <form action="../prices">
                <button class="let-start-btn">LET'S GET STARTED</button>
            </form>
        </div>
    </div>


    <div class="services">
        <h1 class="popular-classes">POPULAR CLASSES</h1>
        <div class="service-img">
            <div class="service-img-first">
                <img src="../images/cardio.jpg" alt="">
                <p class="image-sub-line">Cardio</p>
            </div>
            <div class="service-img-first">
                <img src="../images/airyoga.jpg" alt="">
                <p class="image-sub-line">Airyoga</p>
            </div>
            <div class="service-img-first">
                <img src="../images/lifting.jpg" alt="">
                <p class="image-sub-line">Lifting</p>
            </div>
            <div class="service-img-first">
                <img src="../images/press&back.jpg" alt="">
                <p class="image-sub-line">Press & Back</p>
            </div>
        </div>
        <div class="checkcases">
            <form action="/classes">
                <button>CHECK ALL CLASSES</button>
            </form>
        </div>
    </div>


    <div class="about">
        <div class="aboutgold">
            <div class="about-content">
                <h1 id="about-head">ABOUT GOLD GYM</h1>
                <div class="aboutp">
                    <p>We’re not here to carry you to fitness, we’re here to motivate you to carry yourself to your
                        goals. </p>
                    <p id="nextp">If you’re not sure what your goals are, or don’t know where to start on your fitness
                        journey, come in and speak to one of our qualified trainers who can help you develop a plan.</p>
                </div>
                <form action="/schedule">
                    <button class="schedule-btn">SCHEDULE</button>
                </form>
            </div>
            <div class="about-first-div">
            </div>
        </div>
        <div class="aboutclass">
            <div class="about-second-div">
            </div>
            <div class="aboutclass-content">
                <h1 id="class-head">CLASSES</h1>
                <div class="aboutp2">
                    <p>We host dozens of classes every day, from deadlifting and HIIT to yoga and pilates. We also have
                        different classes for varying levels of ability.</p>
                    <p id="nextp2">Check out our individual class pages to see what’s on when, and stop on by for a chat
                        if you want to see how we do things. </p>
                </div>
                <form action="/classes">
                    <button class="classes-btn">CLASSES</button>
                </form>
            </div>
        </div>
    </div>


    <div class="ready-for-change">
        <h1 id="ready">ARE YOU READY FOR CHANGES?</h1>
        <form action="/signup">
            <button class="make-it-happen">MAKE IT HAPPPEN</button>
        </form>
    </div>

    {{>end}}

</body>

</html>