<div class="end">
    <div class="working-hours">
        <h1>WORKING HOURS</h1>
        <p>Monday - Friday 5:00 AM - 12:00 AM</p>
        <p>Sunday - Saturday 8:00 AM - 10:00 PM</p>
        <ul class="social-ul">
            <li><a href="www.twitter.com"><img src="../images/twittwer2.png" alt=""></a></li>
            <li><a href="www.facebook.com"><img src="../images/toppng.com-facebook-logo-black-facebook-logo-png-black-1200x1200.png"
                        alt=""></a></li>
            <li><a href="www.instagram.com"><img src="../images/Instagram-black-and-white-logo-vector-png-(5).png" alt=""></a></li>
        </ul>
        <p>Powered by websitetemplate.com</p>
    </div>
    <div class="address">
        <H1>ADDRESS</H1>
        <p>661 Sulphur Springs Ave. </p>
        <p>Bronx, NY 10465</p>
    </div>
</div>