<div class="navbar-div">
    <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">&#9776;</label>
        <label for="#" class="logo"><a href="index" class="goldgym">Gold Gym</a></label>
        <ul class="nav-ul">
            <li><a href="index" class="active">Home</a></li>
            <li><a href="classes">Classes</a></li>
            <li><a href="personal-trainers">Personal Workouts</a></li>
            <li><a href="prices">Prices and Plans</a></li>
            <li><a href="schedule">Schedule</a></li>
            <li><a href="signup" id="join-now">Join Now</a></li>
        </ul>
    </nav>
</div>